.container {
  padding: 0 2rem;

}
.title{
  text-align: center;
  color:white;
}
.cardSection{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
}